@model IEnumerable<GssZenicaApp.ViewModels.ListEquipmentCategoryViewModel>
@{
    ViewBag.Title = "Index";
}
<div id="view-AllEquipmentCategory">
    @await Html.PartialAsync("_ViewAll", Model)
</div>